  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #7346c7;
    color: white;
    font-weight: 600;

    transform: translateY(-100%);
    animation: toolbar-load 0.75s ease-out 400ms forwards;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .toolbar-button {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    color: #333;
    font-size: large;
    height: 16px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .toolbar-button-container :not(.material-icons):hover {
    transform: scale(1.1);
    box-shadow: 0 4px 17px rgba(255, 255, 255, 0.747);
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    toolbar-button-container {
      display: flex;//ESTO es como paran o dejarlo vacío
    }
  }

  @keyframes toolbar-load{
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }