<!-- Toolbar -->
<div class="toolbar" role="banner">

  <img width="40" alt="Angular Logo" src="https://cdn2.iconfinder.com/data/icons/seo-web/512/website-code-512.png" />
  <span>KI ONDA PAHPUUUUUU</span>

  <div class="spacer"></div>

  <div class="card-container">
    <button class="card card-small" (click)="onClickShowMessage()">
      USUARIO<span class="material-icons">account_circle</span>
    </button>
  </div>
  <br>
  <div [hidden]="showMessage">
    Esto se muestra solo si la propiedad showMessage es igual a True.
  </div>

</div>

<!-- SI SACAS ESTO TODO SE VA A LA PIJA-->
<router-outlet></router-outlet>