/* You can add global styles to this file, and also import other style files */
@use 'reset';
:root {
  background: linear-gradient(45deg, #0d36bb, #416cbb, #8152ad, #c43b69, #cc1f1f);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }